body {
    font-size: 15px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}

img {
    width: 64px;
    height: 40px;
}
.card-group {
    width: 90%;
    max-width: 920px;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 8px 0 0;
}

.suv {
    background-color: hsl(184, 100%, 22%);
    border-radius: 0;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 8px 8px;  
}

.card-text {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-size: 15px;
}

.card-title {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

.btn {
    background-color: hsl(0, 0%, 95%);
    padding: 10px 25px;
}

.btn-sedan {
    color:hsl(31, 77%, 52%);
}

.btn-suv {
    color:hsl(184, 100%, 22%);
}

.btn-luxury {
    color:hsl(179, 100%, 13%);
}

.btn-sedan:hover {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(31, 77%, 52%);
    border-color: hsla(0, 0%, 100%, 0.75);
}

.btn-suv:hover {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(184, 100%, 22%);
    border-color: hsla(0, 0%, 100%, 0.75);
}

.btn-luxury:hover {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(179, 100%, 13%);
    border-color: hsla(0, 0%, 100%, 0.75);
}

.card-group>.card {
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .sedan {
        border-radius: 8px 0 0 8px;
    }
    .luxury {
        border-radius: 0 8px 8px 0;
    }

}